#weight-helper {
    text-align: center;
    transform-origin: left top;
    color: var(--body-text-color);
    background: var(--body-background-fill);
    border: var(--input-border-width) solid var(--border-color-primary);
    box-shadow: 0px 0px 7px 0 var(--weight-helper-shadow);
    position: absolute;
    z-index: 1000;
}
#weight-helper > header {
    height: 24px;
    background-color: var(--border-color-primary);
    margin-bottom: 4px;
    color: var(--block-label-text-color);
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 3px;
}
#weight-helper > header > label {
    max-width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#weight-helper > header .page {
    display: flex;
    align-items: center;
    column-gap: 6px;
    padding-right: 4px;
}
#weight-helper > header .page .icon {
    background-color: var(--block-info-text-color);
    color: var(--border-color-primary);
    border-radius: 10px;
    width: 15px;
    text-align: center;
    font-size: var(--text-xs);
}
#weight-helper .clear {
    border: 1px solid var(--block-info-text-color);
    border-radius: 10px;
    font-size: var(--text-xs);
    padding: 0px 9px;
}
#weight-helper > header .history {
    display: flex;
    align-items: center;
    gap: 10px;
}
#weight-helper > header .history label {
    width: 40px;
}
#weight-helper section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
}
#weight-helper button {
    cursor: pointer;
    border: var(--button-border-width) solid var(--button-secondary-border-color);
    background: var(--button-secondary-background-fill);
    color: var(--button-secondary-text-color);
    border-radius: 4px;

    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: var(--button-transition);
    box-shadow: var(--button-shadow);
    padding: var(--size-0-5) var(--size-2);
    text-align: center;
}
#weight-helper button:hover {
    border-color: var(--button-secondary-border-color-hover);
    background: var(--button-secondary-background-fill-hover);
    color: var(--button-secondary-text-color-hover);
    box-shadow: var(--button-shadow-hover);
}
#weight-helper button:active {
    box-shadow: var(--button-shadow-active);
}
#weight-helper .border {
    padding: 3px;
    border: 1px solid var(--block-border-color) !important;
    border-radius: 8px !important;
}
#weight-helper > :not(header) {
    margin: 0 4px 4px;
}
#weight-helper label {
    user-select: none;
    font-family: var(--font);
    font-size: var(--section-header-text-size);
    padding: 0 5px 0 5px;
}
#weight-helper input.slider {
    width: 160px;
    margin: 0;
    accent-color: var(--slider-color);
}
#weight-helper input.value {
    width: 4.5em;
    height: 1.4em !important;
    padding: 0;
    margin: 0;
    display: block;
    position: relative;
    outline: none!important;
    box-shadow: var(--input-shadow);
    border: var(--input-border-width) solid var(--input-border-color);
    border-radius: var(--input-radius);
    background: var(--input-background-fill);
    color: var(--body-text-color);
    font-size: var(--input-text-size);
    line-height: var(--line-sm);
    text-align: center;
}
#weight-helper select {
    color: var(--body-text-color);
    outline: none;
    padding: calc(var(--input-padding) - 5px);
    border: var(--input-border-width) solid var(--border-color-primary);
    border-radius: var(--input-radius);
    background: var(--input-background-fill);
}
#weight-helper select:focus {
    box-shadow: var(--input-shadow-focus);
    border-color: var(--input-border-color-focus);
}
#weight-helper label[for] {
    cursor: pointer;
}
#weight-helper input[type="radio"] {
    margin: 3px 0px 3px 4px;
}
#weight-helper label.radio-label {
    padding-left: 0px;
}
#weight-helper .f {
    display: flex;
    justify-content: space-between;
}
#weight-helper .f-c {
    align-items: center;
}
#weight-helper .f-end {
    justify-content: flex-end;
}
#weight-helper .col {
    flex-direction: column;
}
#weight-helper .g-2 {
    gap: 2px;
}
#weight-helper .g-4 {
    gap: 4px;
}
#weight-helper .w-fill {
    width: 100%;
}
