#weight-helper label {
    user-select: none;
}
#weight-helper .draggable-header {
    background-color: var(--border-color-primary);
    margin-bottom: 4px;
    color: var(--block-label-text-color);
    user-select: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#weight-helper .draggable-header {
    padding: 0px 3px;
}
#weight-helper .draggable-header .page {
    display: flex;
    column-gap: 6px;
}
#weight-helper .icon-left {
    transform: rotate(90deg);
}
#weight-helper .icon-right {
    transform: rotate(270deg);
}
#weight-helper .slider-container {
    display: flex;
    align-items: center;
    gap: 4px;
}
#weight-helper .slider-container-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    padding: 4px;
    margin: 0 4px 4px;
    border: 1px solid var(--block-border-color) !important;
    border-radius: 8px !important;
}
#weight-helper .slider-container-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
}
#weight-helper .slider-container-group.border {
    padding: 3px;
    border: 1px solid var(--block-border-color) !important;
    border-radius: 8px !important;
}
#weight-helper .slider-container-groups {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
#weight-helper .slider-container-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2px;
}
#weight-helper label {
    font-family: var(--font);
    font-size: var(--section-header-text-size);
    padding: 0 5px 0 5px;
}
#weight-helper input.slider {
    width: 160px;
    margin: 0;
    accent-color: var(--slider-color);
}
#weight-helper input.value {
    width: 4.5em;
    height: 1.4em !important;
    padding: 0;
    margin: 0;
    display: block;
    position: relative;
    outline: none!important;
    box-shadow: var(--input-shadow);
    border: var(--input-border-width) solid var(--input-border-color);
    border-radius: var(--input-radius);
    background: var(--input-background-fill);
    color: var(--body-text-color);
    font-size: var(--input-text-size);
    line-height: var(--line-sm);
    text-align: center;
}
#weight-helper select {
    color: var(--body-text-color);
    outline: none;
    padding: calc(var(--input-padding) - 5px);
    border: var(--input-border-width) solid var(--border-color-primary);
    border-radius: var(--input-radius);
    background: var(--input-background-fill);
}
#weight-helper select:focus {
    box-shadow: var(--input-shadow-focus);
    border-color: var(--input-border-color-focus);
}
#weight-helper.context-menu {
    color: var(--body-text-color);
    background: var(--body-background-fill);
    border: var(--input-border-width) solid var(--border-color-primary);
    box-shadow: 0px 0px 7px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1000;
}
